<section>
  <div>
      <form>
          <h1>TODO List</h1>
        
          <p>A place to store things you have to do!</p>
          <input class="filter" type="text" placeholder="Filter your to-dos">
          <div class="list" *ngFor= "let list of toDo; index as i">
            <!-- list represents a single item from the toDo array.
            list.task is taking a single item(list) of the toDo array and accessing a property of it(task)  -->
            <li [ngClass]="{'strike' : list.completed}">
              <div class="close">
                <button class="completed hide" *ngIf = "!list.completed">Completed</button>
              {{ list.task }}
              <span><i class="material_icons">X</i></span>
            </div>
            </li>
          </div>       
          <input class="todo" type="text" placeholder="Add you to do">
          <button class="add">Add</button>
        </form>
  </div>
</section>
